.aside {
    position:sticky;
    top: 3vh;
    margin: auto;
    margin-right: 0;
    padding: 1rem .3rem;

}
.aside li {
     cursor: pointer;
    font-weight: 100;
    color: #fff;
    list-style-type: none;
    background: #fd2d01;
    border: solid 1px #fd2d01;
    margin: .3rem auto;
    padding: 0 .3rem;
    border-radius: 5px;
    text-align: left;
    width: 80%;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.category {
    border: 2px solid #fd2d01;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.profil {
    margin: 1rem auto;
    border: solid 1px #fd2d01;
    padding: 3px 10px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.profil ul {
    text-align: left;
    list-style: none;
}


/* post body */
.body_post {
    display: flex;
    background: #FFF;
    margin: 1vw 5vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 800px){
    .body_post {
        flex-direction: column;
    }
}

/* Category */

.btn_submit {
    font-size: 1.3rem;
    font-weight: 300;
    color: #FFF;
    background: #fd2d01;
    border: solid 1px #fd2d01;
    margin: .3rem auto;
    padding: .3rem 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.btn_media {
    font-size: 1.3rem;
    cursor: crosshair;
    font-weight: 300;
    color: #FFF;
    background: #fd2d01;
    border: solid 1px #fd2d01;
    margin: .3rem auto;
    padding: .3rem 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
.aside li:hover,
.btn_submit:hover,
.btn_media:hover {
    background: #FFF;
    color: #fd2d01;
    border: solid 1px #fd2d01;
    box-shadow: 2px 2px 2px 0px #fd2d01;
    transition: 0.8s;
}

@media screen and (max-width: 800px) {
    .aside ul{
        position:static;
        z-index: 0;
    }
    .aside {
        width: 80%;
        margin:auto;
    }
    .aside li {
    display: inline;
    margin:1rem;
}
}


/* #message {

    outline:none;
} */



.post li {
    margin: 1rem auto;
    border-radius: 5px;
    align-items: center;
    list-style-type: none;
    border: solid 1px #fd2d01;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.post_create {
    display: flex;
    flex-direction: column;
    
}

.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dfe9f5;
    border-radius: 5px 5px 0 0;
}

.user__name {
    margin-top: 1vh;
    margin-left: 0.5vw;
    font-size: .9rem;

}

.post__title {
    text-align: center;
    margin-top: 1vh;
    width: 80%;
}

.post__footer,
.comment__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    background: #eaf1f8;
}
svg {
 
    width: 1.8vw;
    margin: 1vw;
    cursor: pointer;
}
.update svg {
    margin:0;
    margin-left: 90%;
    color: rgb(68, 68, 68);
}
.like__dislike {
    display: flex;

}

.comments li {
    border: 0;
    border-top: solid 1px black;
    margin: 0;
    border-radius: 0;
}


